<div class="home">
  <div class="toggle">{{ 'home.preTitle' | translate }}</div>
  <div class="financialProducts">
    <h1>{{ 'home.title' | translate }}</h1>
    <div class="carrousel">
      <ngb-carousel interval="90000">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <span class="productName">{{ 'home.current_account' | translate }}</span>
            <span class="value">{{ 'home.value' | translate:{value:'2.351.000,00'} }}</span>
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <span class="productName">{{ 'home.savings_product' | translate }}</span>
            <span class="value">{{ 'home.value' | translate:{value:'2.351.000,00'} }}</span>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>

  <div class="group-cards">
    <app-card [typeOfProduct]='"Cuenta de Ahorro"' [number]='"100253772"' [saldoTitle]='"Salgo disponible"' [saldoValue]='"$5.351.000,00"'></app-card>
  </div>

</div>
