<div class="home">
  <div  (click)="changeView()" [ngClass]="(state$ | async)?.estado">{{ 'home.preTitle' | translate }}</div>
  <div class="financialProducts">
    <h1>{{ 'home.title' | translate }}</h1>
    <div class="carrousel">
      <ngb-carousel interval="90000">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <span class="productName">{{ 'home.slider_current_account' | translate }}</span>
            <span class="value">{{ 'home.value' | translate:{value:'2.351.000,00'} }}</span>
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <span class="productName">{{ 'home.slider_savings_product' | translate }}</span>
            <span class="value">{{ 'home.value' | translate:{value:'2.351.000,00'} }}</span>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>

  <div class="group-cards">
    <ng-container  *ngFor="let name of this.productsNames;let i = index">
      <!-- <span class="nameOfGropup">{{this.productsNameTrasnlated[i].name}} ({{this.productsNameTrasnlated[i].quantity}})</span>  -->
      <app-card class="individual-card" *ngFor="let product of this.productsGruped[0][name]" [consecutive]='product.consecutive' [typeOfProduct]='product.name'
        [number]='product.id'  [saldoValue]='"$5.351.000,00"' [belongsTo] ='product.issuer' [status]='product.status' [sumary]='product.summary' [dueDate]='product.due_date' ></app-card>
    </ng-container>

  </div>

</div>
