@import 'variables';

nav {
  height: 717px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.14);
-moz-box-shadow:    3px 3px 6px 0px rgba(0, 0, 0, 0.14);
box-shadow:         3px 3px 6px 0px rgba(0, 0, 0, 0.14);

  h2 {
    font-size: 15px;
    font-family: 'interSemiBold';
  }

  .logo {
    margin-bottom: 110px;
  }

  .list {
    margin-top: 23px;
    li {
      cursor: pointer;
      text-align: center;
      &:nth-of-type(odd) {

        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 1.5px;
          background: $secondary-color;
          display: block;
          margin-bottom: 15px;
        }

        &::after {
          margin-top: 15px;
          margin-bottom: 0;
        }
      }
      &:nth-of-type(even){

        padding: 10px 0px;
      }
      &:last-child{
        &::after{
          content: initial;
        }
      }

    }
  }
}
